body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.imgCustom {
  margin-right: 30px;
  width: 20px;
  height: 20px;
}

.logo-Cust {
  margin: 5%;
}
.nav-link {
  font-size: 14px;
  line-height: 21px;
  color: #7d7d7d;
  font-weight: 500;
  font-family: "Roboto";
  padding-top: 25px;
}
.content-custom {
  background-color: #f8faff;
  padding-top: 20px;
}
.content__box {
  padding-left: 40px;
}

a {
  color: #4e5052;
  color: inherit;
}

a:hover {
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  color: #343434;
}
.breadcrumb {
  color: #656565;
  font-weight: 500;
  font-family: "Roboto";
  background-color: #f8faff;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  color: #6c757d;
  content: ">";
}
.plus {
  font-size: 20px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  padding-right: 10px;
}

.title_content {
  margin-left: 16px;
}
.col_tbl {
  font-size: 15px;
  color: #343434;
  font-weight: 700;
}
td,
th {
  font-size: 14px;
  line-height: 21px;
  color: #6e6e6e;
  font-weight: 500;
  font-family: "Roboto";
}
.table {
  border-radius: 5px;
  box-shadow: 5px 5px 5px 2px #4e505211;
}
